###################
Namespaces
###################

<if test="data.namespaces">

.. toctree::
    :maxdepth: 2

<for each="ns" in="data.namespaces">
    {+ ns.relative_path +}<if test="ns.relative_path != ''">/</if>{+ ns.alias +} </for>

</if>
